$body-bg-color: darken(steelblue, 30%);
$inactive-menu-item-color: darken(steelblue, 30%);
$active-menu-item-color: steelblue;
$hover-menu-item-color: lighten(steelblue, 10%);
$panel-bg-color: aliceblue;
$panel-border-color: darken(aliceblue, 10%);

body {
    background-color: $body-bg-color;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

h1 {
    font-size: 32px;
}

header {
    .navbar-brand {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .navbar-inverse {
        background-color: black;

        .navbar-collapse {
            border: none;
            box-shadow: none;
        }

        .navbar-nav {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;

            > li {
                > a {
                    color: white;
                    background-color: $inactive-menu-item-color;
                    margin-top: 5px;
                    border-radius: 3px;

                    &:hover {
                        background-color: $hover-menu-item-color;
                    }
                }

                &.active > a {
                    background-color: $active-menu-item-color;

                    &:hover {
                        background-color: $hover-menu-item-color;
                    }
                }
            }
        }
    }

    .navbar-toggle {
        margin-right: 0;
    }

    #profile-link {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            background-color: $inactive-menu-item-color;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-left: 10px;
            padding-right: 15px;
            height: 40px;

            img {
                border-radius: 2px;
                width: 30px;
                height: 30px;
            }

            label {
                color: white;
                padding-left: 15px;
                margin-bottom: 0;
                font-weight: normal;
                cursor: inherit;
            }

            &:hover {
                background-color: $hover-menu-item-color;
            }
        }
    }
}

@mixin sidebar-colors {
    background-color: $panel-bg-color;
    border: solid 1px $panel-border-color;
}

@mixin sidebar-non-mobile
{
    width: 260px;
    padding: 0;
    border-width: 0 1px 0;
}

[role="main"] {
    background-color: white;

    .sidenav {
        @include sidebar-colors;
        border-width: 0 0 1px;

        .toc-toggle {
            background-color: darken(aliceblue, 5%);
            color: #666;

            &:hover {
                color: black;
            }

            &[aria-expanded="true"]::before {
                content: "Hide";
            }

            &[aria-expanded="false"]::before {
                content: "Show";
            }
        }

        .sidetoc,
        .sidefilter {
            border: none;
            background-color: transparent;

            li {
                text-align: left;
            }
        }

        .sidefilter {
            padding: 15px;

            .toc-filter {
                margin: 0;
                border: solid 1px $panel-border-color;

                > .filter-icon {
                    top: 15px;
                    left: 9px;
                }

                > .clear-icon {
                    top: 13px;
                }

                > input {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 25px;
                }
            }
        }

        .toc {
            background-color: transparent !important;

            .level1 > li {
                font-size: 14px;
            }
        }
    }

    > .article {
        width: 100%;
        padding-bottom: 51px;
        margin-top: 0 !important;
        margin-bottom: 0;

        .col-md-10 {
            padding-top: 20px;
            padding-bottom: 20px;

            section {
                margin-left: 0;
            }

            .inheritance {
                margin-bottom: 10px;

                h5 {
                    padding-bottom: 0;
                    border-bottom: none;
                    font-weight: bold;
                }
            }
        }

        h3 .anchorjs-link {
            font-size: 20px !important;
            margin-left: -17px !important;
            padding-top: 3px;
        }

        h4 .anchorjs-link {
            margin-left: -16px !important;
        }
    }
}

@media (min-width: 768px) {
    #wrapper {
        display: flex;
    }

    header {
        .navbar-inverse {
            .navbar-collapse {
                padding-right: 0;
            }

            .navbar-nav {
                margin-left: 10px;
                width: auto;

                > li {
                    > a {
                        margin-left: 5px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }

        #profile-link {
            float: right;
        }
    }

    [role="main"] {
        display: flex;
        background-color: transparent;

        .sidenav {
            @include sidebar-colors;
            @include sidebar-non-mobile;

            .sidetoc {
                padding-bottom: 20px;

                &.shiftup {
                    bottom: 51px;
                }
            }
        }

        > .article {
            width: 460px;
            padding-top: 92px;
            background-color: white;
            display: flex;

            &.row {
                margin-left: 0;
                margin-right: 0;
            }

            .col-md-10 {
                width: 460px;
                padding: 0 20px 20px;
            }

            .contrib {
                height: 20px;
                border-bottom: solid 1px $panel-border-color;
                margin-top: 10px;

                .divider {
                    margin-right: 0;
                }

                span.small.pull-right {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    [role="main"] {
        > .article {
            width: 680px;

            .col-md-10 {
                width: 420px;
            }

            .col-md-2 {
                @include sidebar-colors;
                @include sidebar-non-mobile;
                display: flex;

                .sideaffix {
                    margin-top: 0;

                    .contribution {
                        width: 258px;
                    }

                    nav {
                        width: 258px;

                        .nav {
                            width: 250px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    [role="main"] {
        > .article {
            width: 880px;

            .col-md-10 {
                width: 620px;
            }
        }
    }
}
