body {
  background-color: #1b3246; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5; }

.navbar-brand img {
  width: 50px;
  height: 50px; }

.toc .level1 > li {
  font-size: 14px; }

.navbar-inverse {
  background-color: black; }
  .navbar-inverse .navbar-nav {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0; }
    .navbar-inverse .navbar-nav > li > a {
      color: white;
      background-color: #1b3246;
      margin-top: 5px;
      border-radius: 3px; }
      .navbar-inverse .navbar-nav > li > a:hover {
        background-color: #699bc4; }
    .navbar-inverse .navbar-nav > li.active > a {
      background-color: steelblue; }
      .navbar-inverse .navbar-nav > li.active > a:hover {
        background-color: #699bc4; }

.navbar-toggle {
  margin-right: 0; }

#profile-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #1b3246;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 15px;
  height: 40px; }
  #profile-link a img {
    border-radius: 2px;
    width: 30px;
    height: 30px; }
  #profile-link a label {
    color: white;
    padding-left: 15px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: inherit; }
  #profile-link a:hover {
    background-color: #699bc4; }

#wrapper {
  display: flex; }

.container {
  min-height: 100%;
  display: flex;
  align-items: stretch; }
  .container .article {
    background-color: white;
    margin-top: 70px;
    margin-bottom: 0;
    padding-bottom: 70px;
    display: flex;
    align-items: stretch; }
    .container .article.row {
      margin-left: 0;
      margin-right: 0; }
    .container .article.grid-right {
      margin-left: 0; }
    .container .article .anchorjs-link {
      display: none; }
    .container .article .col-md-2 {
      width: 260px;
      padding: 0; }
      .container .article .col-md-2 .sideaffix {
        width: 260px;
        padding: 5px;
        margin-top: 0;
        top: 90px;
        bottom: 0 !important; }
        .container .article .col-md-2 .sideaffix .affix {
          overflow: hidden; }

.sidenav,
.sideaffix {
  width: 260px;
  background-color: aliceblue;
  border-left: solid 1px #bde0ff;
  border-right: solid 1px #bde0ff;
  border-top-width: 0;
  border-bottom-width: 0; }

.sidetoc,
.sidefilter {
  border: none;
  background-color: transparent; }

.toc {
  background-color: transparent !important; }

.sidefilter {
  padding: 10px; }
  .sidefilter .toc-filter {
    margin: 0;
    border: solid 1px #bde0ff; }
    .sidefilter .toc-filter > .filter-icon {
      top: 15px;
      left: 9px; }
    .sidefilter .toc-filter > .clear-icon {
      top: 13px; }
    .sidefilter .toc-filter > input {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 25px; }

@media (min-width: 768px) {
  .navbar-inverse .navbar-collapse {
    padding-right: 0; }
  .navbar-inverse .navbar-nav {
    margin-left: 10px;
    width: auto; }
    .navbar-inverse .navbar-nav > li > a {
      margin-left: 5px;
      padding-top: 10px;
      padding-bottom: 10px; }

  #profile-link {
    float: right; } }
@media (min-width: 992px) {
  .article .col-md-10 {
    width: 420px; } }
@media (min-width: 1200px) {
  .article .col-md-10 {
    width: 620px; } }

/*# sourceMappingURL=main.css.map */
